<html>
    <head>
        <title>ChessMate</title>
        <link rel="stylesheet" href="stylesheets/splash.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
      </head>

      <body id = "bodyId">
        <main>
          <cite>Welcome to Chess Mate</cite>
          
          <h2 id="intro">Chess Mate allow you to play chess with your friends directly from the browser<br>You just need to click play !</h2>
          <form action="/play" method="get">
            <button id="button-two" type="submit">Play</button>
          </form>
          <br><br>
          <div id="final">
          <h2 id="yayy">Statistics:</h2>
          <ul>
            <li>Number of connected people: <%= numberPlayer %> </li>
            <li>Number of people playing: <%= numberPlayerPlaying %> </li>
            <li>Number of current games: <%= numberRoom %> </li>
            <li>Number of people waiting: <%= lobbySize %></li>
            <li>Number of visit to the site:
              <%if (numberVisited !== undefined) { %>
                <%= numberVisited %> 
              <% } else { %>
                0
              <% } %></li>
          </ul></div>
          
        </main>
      </body>
</html>